---
import headerBg from "@/assets/core/header_bg.png";
import { Image } from "astro:assets";
---

<div
  class="absolute w-screen h-72 top-0 left-0 overflow-x-hidden pointer-events-none select-none max-w-screen"
  style="width: calc(100 * var(--vw));"
>
  <div class="absolute inset-0 -z-10 h-full w-full" aria-hidden="true">
    <Image
      src={headerBg}
      alt="Header Background"
      loading="eager"
      class="h-full w-full object-cover"
    />
  </div>
</div>

<script>
  document.documentElement.style.setProperty(
    "--vw",
    `${document.documentElement.clientWidth / 100}px`,
  );
</script>
