---
import config from "@shConfig";
import { Button } from "@ui/button.tsx";
import { Mail, Info, Link } from "@lucide/astro";

const links = config.navBar.links;
---

<header
  class="fixed top-4.5 left-1/2 z-50 w-full max-w-[1278px] -translate-x-1/2 px-4 lg:px-0 max-height-too-small:absolute"
>
  <div
    class="absolute inset-0 -z-10 mx-8 rounded-lg bg-stone-900/10 opacity-100 backdrop-blur-[6px] xl:mx-0"
    aria-hidden="true"
  >
  </div>

  <!-- 主標頭 -->
  <nav
    class="mx-4 flex h-14 items-center justify-between rounded-lg border border-white/10 bg-neutral-900/50 px-2.5 xl:mx-0"
    transition:name="header"
  >
    <!-- Logo and Site Title -->
    <a class="flex items-center gap-2" href="/">
      <div class="h-9 w-9 overflow-hidden rounded-lg">
        <img src="/favicon.png" alt="" class="h-full w-full object-cover" />
      </div>
      <div>
        <span class="font-funny text-3xl leading-none text-white capitalize">
          SamHacker
        </span>
      </div>
    </a>

    <!-- Navigation Links -->
    <div class="flex items-center gap-2 lg:gap-4">
      <!-- Main Nav -->
      <div class="hidden items-center gap-1 pr-4 lg:flex">
        {
          links.map((link, index) => (
            <div class="flex items-center">
              <a
                href={link.href}
                class="flex h-6 items-center px-2 text-sm font-medium text-white uppercase transition-colors hover:text-white/80 lg:px-4"
              >
                {link.title}
              </a>
              {index < links.length - 1 && (
                <span class="text-sm text-neutral-400">/</span>
              )}
            </div>
          ))
        }
      </div>

      <!-- Action Buttons -->
      <div class="hidden items-center gap-2 md:flex">
        <Button
          variant="ghost"
          size="icon"
          className="hidden items-center justify-center rounded-lg hover:bg-white/5 sm:flex"
          aria-label="Contact"
          id="sh-header-contact_button"
        >
          <Mail size={18} />
        </Button>

        <Button
          variant="ghost"
          size="icon"
          className="hidden items-center justify-center rounded-lg hover:bg-white/5 sm:flex"
          aria-label="Info"
          id="sh-header-info_button"
        >
          <Info size={18} />
        </Button>
      </div>

      <div class="flex items-center gap-2 lg:hidden">
        <a
          href="https://lib.samhacker.xyz"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="連結列表"
        >
          <Button
            className="flex items-center justify-center rounded-lg hover:bg-white/5"
            variant="secondary"
            aria-label="Info"
            id="sh-header-info_button"
          >
            <Link size={18} />
            關於我
          </Button>
        </a>
      </div>
    </div>
  </nav>
</header>

<script>
  const contactButton = document.getElementById("sh-header-contact_button");
  const infoButton = document.getElementById("sh-header-info_button");

  contactButton?.addEventListener("click", () => {
    window.location.href = "mailto:xux510208@gmail.com";
  });

  infoButton?.addEventListener("click", () => {
    window.location.href = "/about";
  });
</script>
