.header-right img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

header {
    background-color: #006400;
    padding: 20px;
}

header .toggle-button {
    background-color: #008000;
}

header > * {
    color: #ffffff;
}

header > .tucao {
    background-color: #ffffff;
}

center {
    text-align: center;
}

/* 透明漸變 - color - transparent */

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,100,0,0.75), rgba(0,0,0,0));
}

header > h1 {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    margin: 0;
}  

body {
    background-color: #f5f5f5;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 5px;
    width: 70%;
}

.repo {
    margin-bottom: 20px;
    padding: 20px 10px 10px 20px;
    background-color: #ffffff5c;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: max-content;
}

.repo[open] {
    max-height: 500px;
    cursor: auto;
}

.repo > summary {
    cursor: pointer;
}

.repo-title {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: #006400;
}

.repo-link {
    display: block;
    margin-bottom: 10px;
    color: #006400;
}

.repo-link:hover {
    color: #008000;
}

.repo-description {
    margin: 0;
}

.header {
    text-align: center;
    padding: 50px;
}

div {
    display: block;
}

.repo-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006400;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

details > summary {
    list-style-type: '';
}

details[open] > summary {
    list-style-type: '';
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: '\f078'; /* Font Awesome 的 chevron-down 圖示 */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
    margin-top: 2px;
}

details[open] summary::after {
    content: '\f077'; /* Font Awesome 的 chevron-up 圖示 */
}

.toggle-button {
    padding: 10px 20px;
    background-color: #006400;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 18px; /* 設定文字大小為 18px */
}

.toggle-button:hover {
    background-color: #008000;
}

.repo-link a:hover {
    background-color: #008000;
}

.tucao {
    color: #006400;
    transition: color 0.3s ease-in-out;
}

.tucao:hover {
    background-color: #333333;
    color: #ffffff;
}

details > *:not(summary) {
    cursor: auto;
}

/* .repo-link a {
    position:relative;
}
.repo-link a::after {
    content:"";
    display:block;
    width: 0;
    height: 2px;
    background-color: #006400;
    position:absolute;
    right: 0;
    transition:.4s;
}

.repo-link a:hover::after {
    width: 100%;
    left: 0;
}

.repo-link a {
    text-decoration: none;
    color: #006400;
} */

.footer {
    height: 3em;
    background-color: #d1d1d1;
}

.foo-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in;
}