---
import config from "@shConfig";

import { Card, CardContent, CardHeader } from "@components/ui/card";
import GameListClient from "@components/page/About/compose/GameListClient.tsx";
---

<div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-8">
  {config.game.map((game) => <GameListClient client:load game={game} />)}
</div>
