---
import PageLayout from "@/layouts/PageLayout.astro";
import SectionTitle from "@components/common/SectionTitle.astro";

import "@styles/content.css";
---

<PageLayout title="裝備" subtitle="物品就像一面明鏡，反映出使用者的狀態">
  <SectionTitle chinese="電腦" english="Laptop" />
  <p class="content"></p>
</PageLayout>
