---
import FriendList from "@/components/page/Friends/FriendList";
import PageLayout from "@/layouts/PageLayout.astro";

import { Toaster } from "@/components/ui/sonner";

import "@styles/content.css";
---

<PageLayout
  title="朋友"
  subtitle="友情是生命中的一盞明燈，沒了它，生命就失去了光彩"
  description="這個頁面列出了我的所有朋友們，順便幫他們宣傳一下下。歡迎來逛逛喔~~"
  ogImage="/assets/website_og/friends_og.png"
>
  <FriendList client:load />

  <div class="mt-8 flex">
    <div
      class="sh-sideline mx-auto w-full max-w-5xl overflow-hidden rounded-lg border bg-stone-800/20 px-10 py-8 shadow-lg backdrop-blur-md"
    >
      <h2 class="text-4xl font-bold">要交個朋友嗎？</h2>
      <p class="mt-4">如果你也想成為我的朋友，歡迎透過以下方式聯絡我：</p>
      <ul class="mt-4 list-inside list-disc text-lg">
        <li>
          <span class="font-semibold">Discord（推薦）：</span><a
            href="https://discord.gg/CWCjhRGJ2e">加入我的 Discord 伺服器</a
          >
        </li>
        <li>
          <span class="font-semibold">Discord私訊：</span><a
            href="https://discord.com/users/959977374471028779">@samhacker</a
          >
        </li>
        <li>
          <span class="font-semibold">電子郵件：</span><a
            href="mailto:xux510208@gmail.com">xux510208@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>

  <Toaster client:load richColors position="bottom-center" />
</PageLayout>

<script>
  import { toast } from "sonner";

  document.addEventListener("contextmenu", (event) => {
    event.preventDefault();

    toast.error("這個頁面禁止複製", {
      description:
        "不好意思，這個頁面因為有些朋友的資訊不想被複製，所以禁止右鍵選單。請尊重大家，不要破解右鍵，謝謝。",
    });
  });
</script>

<style>
  .sh-sideline::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #57534e9f;
    border-radius: 0px;
    transition: background-color 0.2s ease;
  }

  .sh-sideline:hover::before {
    background-color: #57534e;
    transition: background-color 0.2s ease;
  }

  .toaster div[data-title] {
    font-weight: bold !important;
    font-size: 1.2rem !important;
  }
</style>
