---
import PageLayout from "@/layouts/PageLayout.astro";
import SectionTitle from "@components/common/SectionTitle.astro";

import "@styles/content.css";
---

<PageLayout
  title="朋友"
  subtitle="友情是生命中的一盞明燈，沒了它，生命就失去了光彩"
>
  <div class="mx-auto my-8"></div>
</PageLayout>
