---
import Layout from "@/layouts/Layout.astro";
import Content from "@/layouts/Content.astro";

import HeroSection from "@components/page/Home/sections/HeroSection.astro";
import PostsSection from "@components/page/Home/sections/PostsSection.astro";
import ProjectsSection from "@/components/page/Home/sections/ProjectsSection.astro";
import SelfIntroSection from "@components/page/Home/sections/SelfIntroSection.astro";
import SectionTitle from "@components/common/SectionTitle.astro";

import bgImage from "@/assets/pages/home/dark_bg-intro.png";
import { Button } from "@ui/button";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <HeroSection />

  <Content sectionName="intro" bgImage={bgImage}>
    <SectionTitle
      slot="title"
      chinese="關於我"
      english="About Me"
      id="sh-intro-title"
    />
    <SelfIntroSection />
  </Content>

  <Content sectionName="projects">
    <SectionTitle
      slot="title"
      chinese="專案"
      english="Projects"
      id="sh-projects-title"
    />
    <ProjectsSection />
    <div class="mt-4 w-full flex justify-center">
      <a href="/projects">
        <Button variant="outline">我的所有專案</Button>
      </a>
    </div>
  </Content>

  <Content
    sectionName="posts"
    class="bg-linear-to-br from-transparent to-emerald-900/30"
  >
    <SectionTitle
      slot="title"
      chinese="文章"
      english="Blog Posts"
      id="sh-posts-title"
    />
    <PostsSection />
  </Content>
</Layout>
