---
import Layout from "@/layouts/Layout.astro";
import Content from "@/layouts/Content.astro";

import HeroSection from "@components/page/Home/sections/HeroSection.astro";
import PostsSection from "@components/page/Home/sections/PostsSection.astro";
import ProjectsSection from "@components/page/Home/sections/ProjectsSection.astro";
import SelfIntroSection from "@components/page/Home/sections/SelfIntroSection.astro";
import AwardsSection from "@/components/page/Home/sections/AwardsSection.astro";

import SectionTitle from "@components/common/SectionTitle.astro";

import bgImage from "@/assets/pages/home/dark_bg-intro.png";
import { Button } from "@ui/button";
---

<Layout>
  <HeroSection />

  <!-- 關於 -->
  <Content sectionName="intro" bgImage={bgImage}>
    <SectionTitle
      slot="title"
      chinese="關於我"
      english="About Me"
      id="sh-intro-title"
    />
    <SelfIntroSection />
  </Content>

  <!-- 專案 -->
  <Content sectionName="projects">
    <SectionTitle
      slot="title"
      chinese="專案"
      english="Projects"
      id="sh-projects-title"
    />
    <ProjectsSection />
    <div class="mt-4 w-full flex justify-center">
      <a href="/projects">
        <Button variant="outline">我的所有專案</Button>
      </a>
    </div>
  </Content>

  <!-- 文章 -->
  <Content
    sectionName="posts"
    class="bg-linear-to-br from-transparent to-emerald-900/30"
  >
    <SectionTitle
      slot="title"
      chinese="文章"
      english="Blog Posts"
      id="sh-posts-title"
    />
    <PostsSection />
  </Content>

  <!-- 得獎經歷 -->
  <Content sectionName="rewards">
    <SectionTitle
      slot="title"
      chinese="得獎經歷"
      english="Rewards"
      id="sh-rewards-title"
    />
    <AwardsSection />
  </Content>

  <!-- 結尾 -->
  <Content sectionName="outro" class="lg:py-30 bg-emerald-500/60">
    <div
      slot="title"
      id="sh-outro-title-animation"
      class="min-h-[70vh] lg:min-h-[190px] flex flex-col justify-center gap-6"
    >
      <h2 class="text-5xl font-extrabold">好了，大概就寫到這裡吧！</h2>
      <h2 class="text-5xl font-extrabold">畢竟我也不知道後面要寫些什麼？</h2>
      <h2 class="text-5xl font-extrabold">
        你有想法嗎？或許可以聯絡我聊聊喔！
      </h2>
    </div>
  </Content>
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrambleTextPlugin } from "gsap/ScrambleTextPlugin";

  gsap.registerPlugin(ScrambleTextPlugin);
  document.addEventListener("DOMContentLoaded", () => {
    const outroTitle = document.querySelector("#sh-outro-title-animation");

    const tl = gsap.timeline();

    if (outroTitle) {
      const lines = outroTitle.querySelectorAll("h2");
      lines.forEach((line, index) => {
        tl.fromTo(
          line,
          { scrambleText: { text: "", chars: "0123456789!@#$%^&*" } },
          {
            scrambleText: {
              text: line.textContent,
              chars:
                "好大概就寫到這裡吧畢竟我也不知道後面要寫些什麼你有想法嗎或許可以聯絡我聊聊喔",
            },
            duration: 5,
            ease: "power2.out",
          },
          "-=0.3",
        );
      });
    }
  });
</script>
