---
import AnimateTitle from "@/components/page/Home/compose/hero/AnimateTitle.astro";
import { Button } from "@/components/ui/button.tsx";
import { ArrowRight, FolderBookmark, UsersRound, Gauge } from "lucide-react";
---

<section
  id="sh-hero-section"
  class="hero-section relative h-svh overflow-hidden"
>
  <!-- 電腦 -->
  <div
    class="relative hidden h-full w-full items-center justify-center md:flex"
  >
    <div
      class="absolute top-45 -z-10 h-[200px] w-full bg-cover bg-center"
      aria-hidden="true"
    >
      <AnimateTitle />
    </div>

    <!-- 主框架 -->
    <div
      class="absolute bottom-30 left-1/2 flex w-full max-w-[1246px] -translate-x-1/2 overflow-hidden"
    >
      <!-- 左區段 -->
      <div class="flex max-w-110 flex-col gap-15">
        <h1 class="text-[96px]/[120%] font-black text-stone-200">
          Sam<br />Hacker
        </h1>

        <p class="text-lg text-stone-300">
          我是一個熱愛分享技術的高中生，<br />
          專注於 Minecraft 開服、網站建設、開源軟體等領域。<br />
          我的目標是讓更多人能夠輕鬆學習和應用技術。
        </p>

        <div class="flex gap-2.5">
          <a href="/about">
            <Button
              size="lg"
              variant="secondary"
              className="font-regular h-auto px-[30px]! py-2.5 text-lg"
            >
              關於我
              <ArrowRight className="ml-2.5" />
            </Button>
          </a>

          <a href="/projects">
            <Button size="icon-hero" variant="ghost" className="h-full p-0">
              <FolderBookmark size={24} className="size-5" />
            </Button>
          </a>

          <a href="/friends">
            <Button size="icon-hero" variant="ghost" className="h-full p-0">
              <UsersRound size={24} className="size-5" />
            </Button>
          </a>

          <a href="/dashboard">
            <Button size="icon-hero" variant="ghost" className="h-full p-0">
              <Gauge size={24} className="size-5" />
            </Button>
          </a>
        </div>

        <!-- 右區段 -->
      </div>
    </div>

    <!-- 手機 -->
    <div
      class="relative -z-10 flex h-full w-full items-center justify-center md:hidden"
    >
      <div
        class="absolute top-1/2 left-1/2 h-[120px] w-full -translate-x-1/2 -translate-y-1/2 overflow-hidden"
        aria-hidden="true"
      >
        <AnimateTitle />
      </div>
    </div>
  </div>

  <script>
    // Hero Section GSAP Animation
    import gsap from "gsap";
    import SplitText from "gsap/SplitText";

    gsap.registerPlugin(SplitText);

    document.addEventListener("DOMContentLoaded", () => {});
  </script>
</section>
