/* 頁面切換動畫 */
.page-transition {
  width: 100%;
  height: 100%;
}

.page-transition.fadeIn {
  opacity: 1;
  animation: fadeIn 300ms ease-in-out;
}

.page-transition.fadeOut {
  opacity: 0;
  animation: fadeOut 300ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
