---
import PageHero from "@components/common/PageHero.astro";
import Layout from "@/layouts/Layout.astro";

const { title, subtitle } = Astro.props;
---

<Layout pageName={title}>
  <div
    class="w-auto lg:w-full mx-6 mt-20 lg:mt-30 mb-10 lg:max-w-7xl lg:mx-auto lg:px-6"
  >
    <PageHero title={title} subtitle={subtitle} />
    <div class="h-16" aria-hidden="true"></div>
    <!-- 留白 -->
    <slot />
  </div>
</Layout>
