---
import BigProjectCard from "@/components/page/Projects/BigProjectCard.astro";

import LHLogo from "@/assets/pages/projects/logos/lighttp.svg";
import SHBNLogo from "@/assets/pages/projects/logos/shblog-next.svg";
import LHBg from "@/assets/pages/projects/thumbnails/lighttp.svg";
import SHBNBg from "@/assets/pages/projects/thumbnails/shblog-next.svg";

const lighttpConfig = {
  normalBg: "#272728",
  hoverBg: "#393949",
  normalOpacity: 0.8,
  hoverOpacity: 0.8,
};

const shbnConfig = {
  normalBg: "#1b241e",
  hoverBg: "#263a2c",
  normalOpacity: 0.8,
  hoverOpacity: 0.9,
};
---

<!-- 主打區段 -->
<div class="flex flex-col justify-between gap-4 lg:h-85 lg:flex-row">
  <BigProjectCard
    id="sh-card-lighttp-bg"
    title="LigHTTP"
    description="LigHTTP是一款開源的HTTP請求工具，目的是成為Postman的輕量平替。希望可以提供極為簡單且高效的HTTP請求體驗。"
    descriptionColorClass="text-sky-100/90"
    link="https://github.com/510208/lighttp"
    bgImg={LHBg}
    config={lighttpConfig}
  >
    <LHLogo slot="logo" class="sh-animated-logo scale-75 lg:scale-100" />
  </BigProjectCard>

  <BigProjectCard
    id="sh-card-shbn-bg"
    title="SHBlog Next"
    description="SHBlog Next是一個基於Astro的個人部落格框架，目標是提供一個簡單、個性化、快速且開箱即用的個人開發者部落格解決方案。"
    descriptionColorClass="text-emerald-100/90"
    link="https://sh-blog-next.vercel.app/"
    bgImg={SHBNBg}
    config={shbnConfig}
  >
    <SHBNLogo slot="logo" class="sh-animated-logo scale-80 lg:scale-100" />
  </BigProjectCard>
</div>

<style>
  @property --sh-grad-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 0.8;
  }

  #sh-card-lighttp-bg {
    --sh-grad-opacity: 0.8;
    background-image: linear-gradient(
      180deg,
      rgba(43, 47, 60, 0) 0%,
      rgba(43, 47, 60, var(--sh-grad-opacity)) 100%
    );
    background-color: #272728;
  }

  #sh-card-shbn-bg {
    --sh-grad-opacity: 0.8;
    background-image: linear-gradient(
      180deg,
      rgba(45, 77, 55, 0) 0%,
      rgba(45, 77, 55, var(--sh-grad-opacity)) 100%
    );
    background-color: #1b241e;
  }
</style>
