---
import { Card } from "@components/ui/card";
import type { SvgComponent } from "astro/types";

interface Props {
  title: string;
  description: string;
  projectLogo?: SvgComponent;
  backgroundImage?: SvgComponent;
  link: string;
}
const {
  title,
  description,
  projectLogo: ProjectLogo,
  backgroundImage: BackgroundImage,
  link,
}: Props = Astro.props;
---

<Card
  className="group sh-click-link relative flex min-h-[280px] w-full cursor-pointer justify-end overflow-hidden bg-[#272728] p-0 transition-all duration-300 ease-in-out hover:bg-[#787878]"
  data-link={link}
>
  <div
    class="absolute -right-14 -bottom-10 transition-transform duration-300 ease-in-out group-hover:-translate-y-4"
  >
    {
      BackgroundImage && (
        <BackgroundImage class="z-0 object-cover transition-transform duration-300 ease-in-out" />
      )
    }
  </div>

  <div
    class="sh-other-card z-10 flex min-h-[120px] w-full flex-col gap-2.5 px-6 pt-[14px] pb-[30px]"
  >
    {ProjectLogo && <ProjectLogo class="h-8.5" />}
    <h3 class="text-xl font-bold">{title}</h3>

    <p class="text-sm text-gray-400">
      {description}
    </p>
  </div>
</Card>

<style>
  .sh-other-card {
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333 100%);

    &:hover {
      background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333 100%);
    }
  }
</style>
