---
import { Card } from "@components/ui/card";
import type { SvgComponent } from "astro/types";

interface Props {
  title: string;
  description: string;
  projectLogo?: SvgComponent;
  backgroundImage?: SvgComponent;
  link: string;
}
const {
  title,
  description,
  projectLogo: ProjectLogo,
  backgroundImage: BackgroundImage,
  link,
}: Props = Astro.props;
---

<Card
  className="sh-click-link sh-project-card sh-small-card relative flex min-h-[280px] w-full cursor-pointer justify-end overflow-hidden bg-[#272728]/60 p-0 backdrop-blur-xs"
  tabIndex={0}
  data-link={link}
  role="button"
  aria-label={`前往 ${title} 專案頁面（另開新視窗）`}
>
  <div class="sh-small-bg-img absolute -right-14 -bottom-10">
    {BackgroundImage && <BackgroundImage class="z-0 object-cover" />}
  </div>

  <div
    class="sh-other-card z-10 flex min-h-[120px] w-full flex-col gap-2.5 px-6 pt-[14px] pb-[30px]"
  >
    {ProjectLogo && <ProjectLogo class="h-8.5" />}
    <h2 class="text-xl font-bold">{title}</h2>

    <p class="text-sm text-gray-400">
      {description}
    </p>
  </div>
</Card>

<style>
  .sh-other-card {
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333 100%);
  }
</style>

<script>
  import { gsap } from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    const smallCards = document.querySelectorAll(".sh-small-card");

    smallCards.forEach((card) => {
      const bgImg = card.querySelector(".sh-small-bg-img");

      card.addEventListener("mouseenter", () => {
        gsap.to(card, {
          backgroundColor: "rgba(48, 48, 52, 0.2)",
          backdropFilter: "blur(0px)",
          duration: 0.3,
          ease: "power2.out",
        });

        gsap.to(bgImg, {
          y: -16,
          duration: 0.3,
          ease: "power2.out",
        });
      });

      card.addEventListener("mouseleave", () => {
        gsap.to(card, {
          backgroundColor: "rgba(39, 39, 40, 0.6)",
          backdropFilter: "blur(4px)",
          duration: 0.3,
          ease: "power2.out",
        });

        gsap.to(bgImg, {
          y: 0,
          duration: 0.3,
          ease: "power2.out",
        });
      });
    });
  });
</script>
